.vs/*
.vscode/*
.git/*
.idea/*
target/*
build/*
.packages

doc/api/*
src/.DS_Store
.DS_Store
Src/.DS_Store?
*.zip

*.cache
*.props
*.targets
*.dgspec.json
*assets.json
obj/*


# Ignore Gradle build output directory
_bin/*
_temp/*
*.bat
**/CMakeFiles/*
CMakeCache.txt
*.cmake
*.cbp
*.user


_temp/*
_bin/*